/*==============================*/
/* ==== PALETTE -- COULEUR ==== */
/*==============================*/


:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;

    --ombre-douce: #1A1A1A; 
    --ombre-moyenne: #1F1F1F; 
    --ombre-forte: #242424;  
    
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#6f6f6f;
    
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




/*=============================*/
/* ==== PALETTE -- TEXTES ==== */
/*=============================*/


:root {
    --police-titre: "DM Serif Text", serif;
    --taille-titre-second: "DM Serif Text", serif;
    --police-texte: "Comic Neue", cursive;
}


/*  taille écran  */

@media(min-width:1000px){
    :root {
    --taille-titre-principal: 1.80em;
    --taille-titre-second: 1.60rem;
    --taille-texte: 1.40rem;
    --gras-titre: 700;
    --gras-texte: 400;   
}}

@media(max-width:999px){
    :root {
    --taille-titre-principal: 1.60rem;
    --taille-titre-second: 1.40rem;  
    --taille-texte: 1.20rem;
    --gras-titre: 700;
    --gras-texte: 400;     
}}


/*  style titre  */

h1 {
    cursor: text;  
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-principal);
    color: var(--texte-titre);
    transition: 0.5s;
}

h2, h3 {
    cursor: text;  
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-second);
    color: var(--texte-titre);
    transition: 0.5s;
}


/*  style texte  */

span {
    cursor: text;
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-second);
    color: var(--texte-courant);
    line-height: 2;
}

/*  style texte  */
p {
    cursor: text;  
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.5;
    padding: 10px 0px 10px 0px;
}

/*  style lien  */
a {
    cursor: pointer;
    font-style: oblique;
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    text-decoration: underline;
    color: var(--texte-courant);
    line-height: 1.5;
}

li {
    cursor: text;  
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.5;
}


/*  clic  */
a:active {
    cursor: pointer;
    color: var(--objet-clic);
}




/*=============================*/
/* ==== VISEULLE APLIQUER ==== */
/*=============================*/ 


/*  body  */

body {
    background-color: var(--fond-principal);
    text-align: center;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}