/*=============================*/
/* ========== BULLE ========== */
/*=============================*/


/*  Bulle Principal  */

.bulle_principal {
    text-align: center;
    background-color: var(--font-contenu);
    box-shadow: 0px 0px 25px var(--ombre-moyenne);
    border: solid var(--font-contours);
    border-radius: 10px;
}

@media(min-width:1000px){
    .bulle_principal {
        display: flex;
        justify-content: space-between;
        padding: 1px;
        margin: 1.5% 20% 3% 20%;
    }

    .mobil {
        display: none;
    }
}
@media(max-width:999px){
    .bulle_principal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding: 3px;
        margin: 1% 2% 4% 2%;
    }

    .PC {
        display: none;
    }

    .gauche_haut {
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .gauche_bas{
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .millieux{
        grid-column: 2/2;
        grid-row: 1/3;
    }
    .droite_haut{
        grid-column: 3/3;
        grid-row: 1/1;
    }
    .droite_bas{
        grid-column: 3/3;
        grid-row: 2/2;
    }
}



/*  bulle_secondaire  */

.bulle_secondaire {
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    box-shadow: 0px 0px 20px var(--ombre-moyenne);
    text-align: center;
    border-radius: 20px;
}

@media(min-width:1000px){
   .bulle_secondaire {
        padding: 4px;
        margin: 2% 16% 4% 16%;
    }
}
@media(max-width:999px){
   .bulle_secondaire {
        padding: 2px;
        margin: 1% 8% 2% 8%;
    }
}


/*  bulle_info  */

.bulle_info {
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    box-shadow: 0px 0px 15px var(--ombre-douce);
    text-align: center;
    border-radius: 40px;
    transition: 1s;
}

@media(min-width:1000px){
    .bulle_info {
        padding: 10px;
        margin: 2% 2% 2% 2%;
    }
}
@media(max-width:999px){
    .bulle_info {
        padding: 1px;
        margin: 1% 1% 1% 1%;
    }
}


/*  bulle_action  */

.bulle_action {
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 0px 15px var(--ombre-douce);
    transition: 1s;
}

@media(min-width:1000px){
    .bulle_action {
        padding: 5px;
        margin: 2% 2% 2% 2%;
    }
}
@media(max-width:999px){
    .bulle_action {
        padding: 2px;
        margin: 1% 1% 1% 1%;
    }
}


/*  bulle_lien  */

.bulle_lien {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    padding: 2px; 
    border-radius: 10px;
    box-shadow: 0px 0px 25px var(--ombre-moyenne);
    transition: 1s;
}

@media(min-width:1000px){
    .bulle_lien {
        margin: 1% 35% 1% 35%;
    }
}
@media(max-width:999px){
    .bulle_lien {
        margin: 1% 10% 1% 10%;
    }
}

.bulle_lien h3 {
    grid-column: 1 / -1;
    margin: auto;
}


/*  survol  */

@media(min-width:1000px){
    .bulle_info:hover,
    .bulle_action:hover {
        border: solid var(--objet-survol);
        box-shadow: 0px 0px 10px var(--objet-survol);
        transition: 1s;
    }

    .bulle_info:hover {
        transform: scale(1.05);      
    }

    .bulle_action:hover {
        transform: scale(0.95);
    }

    .bulle_lien:hover {
        border-radius: 50px;
        margin: 1% 40% 1% 40%;
        box-shadow: 0px 0px 50px var(--ombre-forte);
        transition: 0.5s;
    }
}


/* clic  */

@media(max-width:999px){
    .bulle_info:active,
    .bulle_action:active {
        box-shadow: 0px 0px 20px var(--objet-clic);
        transition: 0.5s;
    }

    .bulle_info:active {
        transform: scale(1.05);
    }

    .bulle_action:active{
        transform: scale(0.90);
    }

    .bulle_lien:active {
        border-radius: 100px;
        margin: 1% 19.5% 1% 19.5%;
        box-shadow: 0px 0px 50px var(--ombre-douce);
        transition: 0.5s;
    }
}




/*===========================*/
/* ========== BTN ========== */
/*===========================*/


/*  taille écran  */

.btn_base {
    background-color: var(--font-contenu);
    color: var(--objet-permanent);
    border-radius: 100px;
    transition: 0.5s;
    margin: 30px 0px 0px 0px;
}

@media(min-width:1000px){
    .btn_base {
        cursor: pointer;
        font-size: 1.1rem;
        padding: 25px 30px 25px 30px;
    }
}
@media(max-width:999px){
    .btn_base {
        font-size: 0.8rem;
        padding: 20px 25px 20px 25px;
    }
}


/* survol */
@media(min-width:1000px){
    .btn_base:hover {
        transform: scale(1.10);
        color: var(--objet-survol);
        transition: 0.6s;
    }
}


/* clic */
.btn_base:active {
    transform: scale(0.90);
    color: var(--objet-clic);
    transition: 0.5s;
}




/*==============================*/
/* =========== LOGO =========== */
/*==============================*/


/*  taille écran  */

@media(min-width:1000px){
    .logo {
        width: 40px;
        height: 40px;
    }
}

@media(max-width:999px){
    .logo {
        width: 30px;
        height: 30px;
    }
}


/*  Survol  */
@media(min-width:1000px){
    .logo:hover {
        transform: scale(1.15);
        opacity: 50%;
        transition: 1s;
    }
}


/*  clic  */
@media(max-width:999px){
    .logo:active {
        transform: scale(1.15);
        opacity: 50%;
        transition: 0.1s;
    }
}




/*=================================*/
/* =========== TOOLTIP =========== */
/*=================================*/


.tooltip-container {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    background-color: var(--font-contours);
    color:var(--objet-permanent);
    padding: 2px 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
}