/*=================*/
/* ==== photo ==== */
/*=================*/ 


.photo {
    border-radius: 10%;
}


@media(min-width:1000px){
    .photo {
        width: 150px;
        height: 150px; 
   }

    .photo:hover {
        transform: scale(1.10);
        opacity: 50%;
        transition: 1s;
    }
}


/*  clic  */
@media(max-width:999px){
    .photo {
        width: 75px;
        height: 75px;
    }

    .photo:active {
        transform: scale(1.10);
        opacity: 50%;
        transition: 1s;
    }
}