/*==============================*/
/* ==== PALETTE -- COULEUR ==== */
/*==============================*/


:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;

    --ombre-douce: #1A1A1A; 
    --ombre-moyenne: #1F1F1F; 
    --ombre-forte: #242424;  
    
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#6f6f6f;
    
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




/*==============================*/
/* ==== PALETTE -- TEXTES ==== */
/*=============================*/


/*  Police d'écriture  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
    --police-titre: "DM Serif Text", serif;
    --police-texte: "Comic Neue", cursive;
}


/*  taille écran  */
@media(min-width:1000px){
    :root {
    --taille-titre-principal: 1.8rem;
    --taille-titre-second: 1.5rem;
    --taille-texte: 1.2rem;
    --gras-titre: 700;
    --gras-texte: 400;   
}}

@media(max-width:999px){
    :root {
    --taille-titre-principal: 1.5rem;
    --taille-titre-second: 1.2rem;  
    --taille-texte: 0.9rem;
    --taille-liens: 0.9rem;  
    --gras-titre: 700;
    --gras-texte: 400;     
}}


/*  style titre  */
h1 {
    cursor: text;  
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-principal);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
    transition: 0.5s;
}

h2, h3 {
    cursor: text;  
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-second);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
    transition: 0.5s;
}

/*  style texte  */
span {
    cursor: text;
    font-family: var(--police-texte);
    font-weight: var(--gras-titre);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 2.50;
}


/*  style texte  */
p {
    cursor: text;  
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.25;
}


/*  style lien  */
a {
    cursor: pointer;
    font-style: oblique;
    font-weight: 500;
    text-decoration: underline;
    color: var(--texte-lien);
}


/*  clic  */
a:active {
    cursor: pointer;
    color: var(--objet-clic);
}




/*=============================*/
/* ==== PALETTE -- BULLE ===== */
/*=============================*/


/*  Bulle Principal  */
.bulle_principal {
    text-align: center;
    background-color: var(--font-contenu);
    box-shadow: 0px 0px 25px var(--ombre-moyenne);
    border: solid var(--font-contours);
    border-radius: 25px;
}

@media(min-width:1000px){
    .bulle_principal {
        display: flex;
        justify-content: space-between;
        padding: 1px;
        margin: 1.5% 20% 3% 20%;
    }

    .mobil {
        display: none;
    }
}
@media(max-width:999px){
    .bulle_principal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding: 3px;
        margin: 0.5% 1% 2% 1%;
    }

    .PC {
        display: none;
    }

    .gauche_haut {
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .gauche_bas{
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .millieux{
        grid-column: 2/2;
        grid-row: 1/3;
    }
    .droite_haut{
        grid-column: 3/3;
        grid-row: 1/1;
    }
    .droite_bas{
        grid-column: 3/3;
        grid-row: 2/2;
    }
}



/*  bulle_secondaire  */
.bulle_secondaire {
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    box-shadow: 0px 0px 20px var(--ombre-moyenne);
    text-align: center;
    border-radius: 50px;
}

@media(min-width:1000px){
   .bulle_secondaire {
        padding: 4px;
        margin: 2% 16% 4% 16%;
    }
}
@media(max-width:999px){
   .bulle_secondaire {
        padding: 2px;
        margin: 1% 8% 2% 8%;
    }
}


/*  bulle_info  */
.bulle_info {
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    box-shadow: 0px 0px 15px var(--ombre-douce);
    text-align: center;
    border-radius: 100px;
    transition: 1s;
}

@media(min-width:1000px){
    .bulle_info {
        padding: 4px;
        margin: 2% 2% 2% 2%;
    }
}
@media(max-width:999px){
    .bulle_info {
        padding: 2px;
        margin: 1% 1% 1% 1%;
    }
}


/*  bulle_action  */
.bulle_action {
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    text-align: center;
    border-radius: 100px;
    box-shadow: 0px 0px 15px var(--ombre-douce);
    transition: 1s;
}

@media(min-width:1000px){
    .bulle_action {
        padding: 4px;
        margin: 2% 2% 2% 2%;
    }
}
@media(max-width:999px){
    .bulle_action {
        padding: 2px;
        margin: 1% 1% 1% 1%;
    }
}


/*  bulle_lien  */
.bulle_lien {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    padding: 2px; 
    border-radius: 25px;
    box-shadow: 0px 0px 25px var(--ombre-moyenne);
    transition: 1s;
}

@media(min-width:1000px){
    .bulle_lien {
        margin: 1% 35% 1% 35%;
    }
}
@media(max-width:999px){
    .bulle_lien {
        margin: 1% 10% 1% 10%;
    }
}

.bulle_lien h3 {
    grid-column: 1 / -1;
    margin: auto;
}


/*  survol  */
@media(min-width:1000px){
    .bulle_info:hover,
    .bulle_action:hover {
        border: solid var(--objet-survol);
        box-shadow: 0px 0px 10px var(--objet-survol);
        transition: 1s;
    }

    .bulle_info:hover {
        transform: scale(1.05);      
    }

    .bulle_action:hover {
        transform: scale(0.95);
    }

    .bulle_lien:hover {
        border-radius: 50px;
        margin: 1% 40% 1% 40%;
        box-shadow: 0px 0px 50px var(--ombre-forte);
        transition: 0.5s;
    }
}


/* clic  */
@media(max-width:999px){
    .bulle_info:active,
    .bulle_action:active {
        box-shadow: 0px 0px 20px var(--objet-clic);
        transition: 0.5s;
    }

    .bulle_info:active {
        transform: scale(1.05);
    }

    .bulle_action:active{
        transform: scale(0.90);
    }

    .bulle_lien:active {
        border-radius: 100px;
        margin: 1% 19.5% 1% 19.5%;
        box-shadow: 0px 0px 50px var(--ombre-douce);
        transition: 0.5s;
    }
}




/*==========================*/
/* ==== PALETTE -- BTN ==== */
/*==========================*/


/*  taille écran  */
.btn_base {
    background-color: var(--font-contenu);
    color: var(--objet-permanent);
    border-radius: 100px;
    transition: 0.5s;
    margin: 30px 0px 0px 0px;
}

@media(min-width:1000px){
    .btn_base {
        cursor: pointer;
        font-size: 1.1rem;
        padding: 25px 30px 25px 30px;
    }
}
@media(max-width:999px){
    .btn_base {
        font-size: 0.8rem;
        padding: 20px 25px 20px 25px;
    }
}


/* survol */
@media(min-width:1000px){
    .btn_base:hover {
        transform: scale(1.10);
        color: var(--objet-survol);
        transition: 0.6s;
    }
}


/* clic */
.btn_base:active {
    transform: scale(0.90);
    color: var(--objet-clic);
    transition: 0.5s;
}




/*===========================*/
/* ==== PALETTE -- LOGO ==== */
/*===========================*/


/*  taille écran  */
@media(min-width:1000px){
    .logo {
        width: 40px;
        height: 40px;
    }
}
@media(max-width:999px){
    .logo {
        width: 30px;
        height: 30px;
    }
}


/*  Survol  */
@media(min-width:1000px){
    .logo:hover {
        transform: scale(1.15);
        opacity: 50%;
        transition: 1s;
    }
}


/*  clic  */
@media(max-width:999px){
    .logo:active {
        transform: scale(1.15);
        opacity: 50%;
        transition: 0.1s;
    }
}




/*=================================*/
/* ==== PALETTE -- FORMULAIRE ==== */
/*=================================*/


form{
    color: var(--objet-permanent);
    background-color: var(--font-contenu);
    box-shadow: 0px 0px 25px var(--ombre-moyenne);
}
fieldset{
    display: flex;
    flex-direction: column;
    border: solid var(--font-contours);
}
input {
    text-align: center;
}


/*  Survol  */
@media(min-width:1000px){
    form{
        margin: 15% 30% 0% 30%;
    }
    fieldset{
        padding: 25px 50px 50px 50px;
    }
    label {
        padding: 15px 0px 7.5px 0px;
    }
    input {
        padding: 5px 0px 5px 0px;
        margin: 0% 35% 0% 35%;
    }
}


/*  clic  */
@media(max-width:999px){
    form{
        margin: 25% 5% 0% 5%;
        font-size: 12px;
    }
    fieldset{
        padding: 25px 50px 50px 50px;
    }
    label {
        padding: 15px 0px 7.5px 0px;
    }
    input {
        padding: 5px 0px 5px 0px;
        margin: 0% 20% 0% 20%;
    }
}




/*=============================*/
/* ==== VISEULLE APLIQUER ==== */
/*=============================*/


/*  body  */
body {
    background-color: var(--fond-principal);
    text-align: center;
}